<p id="notice"><%= notice %></p>

<object type="application/x-shockwave-flash" data="/player_mp3_maxi.swf" width="200" height="20">
     <param name="movie" value="/player_mp3_maxi.swf" />
     <param name="FlashVars" value="mp3=/mp3/<%=@cdr.uniqueid%>.mp3" />
</object>

<p>
  <strong>Calldate:</strong>
  <%= @cdr.calldate %>
</p>

<p>
  <strong>Calldate:</strong>
  <%= @cdr.calldate %>
</p>

<p>
  <strong>Src:</strong>
  <%= @cdr.src %>
</p>

<p>
  <strong>Dst:</strong>
  <%= @cdr.dst %>
</p>

<p>
  <strong>Dcontext:</strong>
  <%= @cdr.dcontext %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @cdr.channel %>
</p>

<p>
  <strong>Dstchannel:</strong>
  <%= @cdr.dstchannel %>
</p>

<p>
  <strong>Lastapp:</strong>
  <%= @cdr.lastapp %>
</p>

<p>
  <strong>Lastdata:</strong>
  <%= @cdr.lastdata %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @cdr.duration %>
</p>

<p>
  <strong>Billsec:</strong>
  <%= @cdr.billsec %>
</p>

<p>
  <strong>Disposition:</strong>
  <%= @cdr.disposition %>
</p>

<p>
  <strong>Amaflags:</strong>
  <%= @cdr.amaflags %>
</p>

<p>
  <strong>Accountcode:</strong>
  <%= @cdr.accountcode %>
</p>

<p>
  <strong>Uniqueid:</strong>
  <%= @cdr.uniqueid %>
</p>

<p>
  <strong>Userfield:</strong>
  <%= @cdr.userfield %>
</p>

<p>
  <strong>Peeraccount:</strong>
  <%= @cdr.peeraccount %>
</p>

<p>
  <strong>Linkedid:</strong>
  <%= @cdr.linkedid %>
</p>

<p>
  <strong>Sequence:</strong>
  <%= @cdr.sequence %>
</p>

<h1>Listing cels</h1>

<table>
  <thead>
    <tr>
      <th>Eventtype</th>
      <th>Eventtime</th>
      <th>Userdeftype</th>
      <th>Cid name</th>
      <th>Cid num</th>
      <th>Cid ani</th>
      <th>Cid rdnis</th>
      <th>Cid dnid</th>
      <th>Exten</th>
      <th>Context</th>
      <th>Channame</th>
      <th>Appname</th>
      <th>Appdata</th>
      <th>Amaflags</th>
      <th>Accountcode</th>
      <th>Peeraccount</th>
      <th>Uniqueid</th>
      <th>Linkedid</th>
      <th>Userfield</th>
      <th>Peer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cels.each do |cel| %>
      <tr>
        <td><%= cel.eventtype %></td>
        <td><%= cel.eventtime %></td>
        <td><%= cel.userdeftype %></td>
        <td><%= cel.cid_name %></td>
        <td><%= cel.cid_num %></td>
        <td><%= cel.cid_ani %></td>
        <td><%= cel.cid_rdnis %></td>
        <td><%= cel.cid_dnid %></td>
        <td><%= cel.exten %></td>
        <td><%= cel.context %></td>
        <td><%= cel.channame %></td>
        <td><%= cel.appname %></td>
        <td><%= cel.appdata %></td>
        <td><%= cel.amaflags %></td>
        <td><%= cel.accountcode %></td>
        <td><%= cel.peeraccount %></td>
        <td><%= cel.uniqueid %></td>
        <td><%= cel.linkedid %></td>
        <td><%= cel.userfield %></td>
        <td><%= cel.peer %></td>
        <td><%= link_to 'Show', cel %></td>
        <td><%= link_to 'Edit', edit_cel_path(cel) %></td>
        <td><%= link_to 'Destroy', cel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Edit', edit_cdr_path(@cdr) %> |
<%= link_to 'Back', cdrs_path %>
