<p id="notice"><%= notice %></p>

<p>
  <strong>Calldate:</strong>
  <%= @cdr.calldate %>
</p>

<p>
  <strong>Calldate:</strong>
  <%= @cdr.calldate %>
</p>

<p>
  <strong>Src:</strong>
  <%= @cdr.src %>
</p>

<p>
  <strong>Dst:</strong>
  <%= @cdr.dst %>
</p>

<p>
  <strong>Dcontext:</strong>
  <%= @cdr.dcontext %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @cdr.channel %>
</p>

<p>
  <strong>Dstchannel:</strong>
  <%= @cdr.dstchannel %>
</p>

<p>
  <strong>Lastapp:</strong>
  <%= @cdr.lastapp %>
</p>

<p>
  <strong>Lastdata:</strong>
  <%= @cdr.lastdata %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @cdr.duration %>
</p>

<p>
  <strong>Billsec:</strong>
  <%= @cdr.billsec %>
</p>

<p>
  <strong>Disposition:</strong>
  <%= @cdr.disposition %>
</p>

<p>
  <strong>Amaflags:</strong>
  <%= @cdr.amaflags %>
</p>

<p>
  <strong>Accountcode:</strong>
  <%= @cdr.accountcode %>
</p>

<p>
  <strong>Uniqueid:</strong>
  <%= @cdr.uniqueid %>
</p>

<p>
  <strong>Userfield:</strong>
  <%= @cdr.userfield %>
</p>

<p>
  <strong>Peeraccount:</strong>
  <%= @cdr.peeraccount %>
</p>

<p>
  <strong>Linkedid:</strong>
  <%= @cdr.linkedid %>
</p>

<p>
  <strong>Sequence:</strong>
  <%= @cdr.sequence %>
</p>

<%= link_to 'Edit', edit_cdr_path(@cdr) %> |
<%= link_to 'Back', cdrs_path %>
