<p id="notice"><%= notice %></p>

<p>
  <strong>Extention:</strong>
  <%= @lastcall.extention %>
</p>

<p>
  <strong>Tnumber:</strong>
  <%= @lastcall.tnumber %>
</p>

<%= link_to 'Edit', edit_lastcall_path(@lastcall) %> |
<%= link_to 'Back', lastcalls_path %>
