<p id="notice"><%= notice %></p>

<p>
  <strong>Eventtype:</strong>
  <%= @cel.eventtype %>
</p>

<p>
  <strong>Eventtime:</strong>
  <%= @cel.eventtime %>
</p>

<p>
  <strong>Userdeftype:</strong>
  <%= @cel.userdeftype %>
</p>

<p>
  <strong>Cid name:</strong>
  <%= @cel.cid_name %>
</p>

<p>
  <strong>Cid num:</strong>
  <%= @cel.cid_num %>
</p>

<p>
  <strong>Cid ani:</strong>
  <%= @cel.cid_ani %>
</p>

<p>
  <strong>Cid rdnis:</strong>
  <%= @cel.cid_rdnis %>
</p>

<p>
  <strong>Cid dnid:</strong>
  <%= @cel.cid_dnid %>
</p>

<p>
  <strong>Exten:</strong>
  <%= @cel.exten %>
</p>

<p>
  <strong>Context:</strong>
  <%= @cel.context %>
</p>

<p>
  <strong>Channame:</strong>
  <%= @cel.channame %>
</p>

<p>
  <strong>Appname:</strong>
  <%= @cel.appname %>
</p>

<p>
  <strong>Appdata:</strong>
  <%= @cel.appdata %>
</p>

<p>
  <strong>Amaflags:</strong>
  <%= @cel.amaflags %>
</p>

<p>
  <strong>Accountcode:</strong>
  <%= @cel.accountcode %>
</p>

<p>
  <strong>Peeraccount:</strong>
  <%= @cel.peeraccount %>
</p>

<p>
  <strong>Uniqueid:</strong>
  <%= @cel.uniqueid %>
</p>

<p>
  <strong>Linkedid:</strong>
  <%= @cel.linkedid %>
</p>

<p>
  <strong>Userfield:</strong>
  <%= @cel.userfield %>
</p>

<p>
  <strong>Peer:</strong>
  <%= @cel.peer %>
</p>

<%= link_to 'Edit', edit_cel_path(@cel) %> |
<%= link_to 'Back', cels_path %>
